services:
  hmm-laravel:
    container_name: hmm-laravel
    build:
      dockerfile: containers/prod.Dockerfile
      args:
        USER_ID: 1000
        GROUP_ID: 1000
        USER_NAME: unit
    volumes:
      - ./:/var/www
      - ./containers/configs/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./containers/configs/unit/unit.json:/docker-entrypoint.d/unit.json:ro
    ports:
      - '4210:80'
    entrypoint: /docker-entrypoint.d/entrypoint.sh
    command:
      - "unitd"
      - "--no-daemon"
      - "--control"
      - "unix:/var/run/control.unit.sock"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=infra_traefik_net"
      - "traefik.http.routers.hmm.rule=Host(`hmm.devilops.tech`)"
      - "traefik.http.routers.hmm.entrypoints=websecure"
      - "traefik.http.routers.hmm.tls.certresolver=letsencrypt"
      - "traefik.http.services.hmm.loadbalancer.server.port=80"
    networks:
#      - infra_traefik_net
      - hmm_net

  hmm-db:
    container_name: hmm-db
    build:
      dockerfile: containers/percona.Dockerfile
      args:
        USER_ID: 1000
        GROUP_ID: 1000
    environment: &database_env
      MYSQL_USER: alex
      MYSQL_PASSWORD: 1
      MYSQL_DATABASE: hmm
      MYSQL_ROOT_PASSWORD: 1
    ports:
      - '4211:3306'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./containers/init-scripts/percona-init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./var/data/percona:/var/lib/mysql
      - ./var/logs/percona:/var/log/mysql
      - /etc/localtime:/etc/localtime:ro
    networks:
      - hmm_net

  hmm-cron:
    container_name: hmm-cron
    build:
      dockerfile: containers/prod-cron.Dockerfile
    volumes:
      - ./containers/configs/cron/crontab.txt:/tmp/hmm-cron-src:ro
      - ./containers/configs/cron/commands:/var/commands:ro
      - ./var/logs/cron/cron.log:/var/log/cron.log
      - ./.env:/var/.env:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - '.env'
    environment:
      <<: *database_env
      TZ: ${TZ:-UTC}
    depends_on:
      - hmm-db
    networks:
      - hmm_net
    command:
      - sh
      - -c
      - "cp /tmp/hmm-cron-src /etc/cron.d/hmm-cron && chown root:root /etc/cron.d/hmm-cron && chmod 0644 /etc/cron.d/hmm-cron && cron && exec tail -F /var/log/cron.log"

networks:
  infra_traefik_net:
    external: true
  hmm_net:
    internal: false
